doctype html
html(lang="en")
  meta(charset="utf-8")
  link(rel="stylesheet" href="./main.css")

body
  ul
    li(ng-repeat="bookmark in bookmarks | orderBy:['title', '-dateAdded']")
      small {{bookmark.dateAdded | date:'yyyy-MM-dd'}}
      a(ng-href="{{bookmark.url}}")
        span {{bookmark.title}}

  script(src="./lib/extractQuery.js")
  script(src="../../node_modules/angular/angular.min.js")
  script(src="./app.js")
  script(src="./appRuntime.js")
  script(src="./main.js")
